.section-list-split {
  margin-top: 16px;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}


.mobile-split {
  display: none;
}


@media (max-width: 800px) {
  .mobile-split {
    display: flex;
  }
}