.counter__wrapper {
  display: flex;
  padding: 4px 3px 4px 3px;
  align-items: center;
  justify-content: center;
}


@media (max-width: 800px) {
  .counter__wrapper {
    display: flex;
    padding: 4px 3px 4px 3px;
    align-items: center;
    justify-content: center;
    width: 80px;
  }
}